<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Inventary</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Inventary App </a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarNav"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container text-center">
    <div>
        <h1 th:if="${product.id == null}">Register of product</h1>
        <h1 th:unless="${product.id == null}">Edit product</h1>
    </div>
    <form method="post" style="max-width: 600px; margin: 0 auto;"
          th:action="@{/products}" th:object="${product}">
        <input th:field="*{id}" th:value="${product.id}" type="hidden"/>
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Product name :
                </label>
                <div class="col-sm-8">
                    <input class="form-control" required th:field="*{name}"
                           type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Product price :
                </label>
                <div class="col-sm-8">
                    <input class="form-control" required th:field="*{price}"
                           type="text"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Category : </label>
                <div class="col-sm-8">
                    <select class="form-control" required th:field="*{category}">
                        <th:block th:each="category : ${listCategories}">
                            <option th:text="${category.name}" th:value="${category.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <!-- We upload the details -->
            <th:block th:each="details,status : ${product.details}" th:unless="${product.id == null}">
                <input name="detailsID" th:value="${details.id}" type="hidden">

                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Details #[[${status.count}]] : </label>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsName" required th:value="${details.name}" type="text">
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsValue" required th:value="${details.value}"
                               type="text">
                    </div>
                </div>
            </th:block>

            <!-- We add the details -->
            <th:block th:if="${product.id == null}">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Detail #1 : </label>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsName" placeholder="Name" required type="text">
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsValue" placeholder="Value" required type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Detail #2 : </label>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsName" placeholder="Name" required type="text">
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsValue" placeholder="Value" required type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Detail #3 : </label>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsName" placeholder="Name" required type="text">
                    </div>

                    <div class="col-sm-4">
                        <input class="form-control" name="detailsValue" placeholder="Value" required type="text">
                    </div>
                </div>
            </th:block>
            <div class="text-center p">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
